<mat-toolbar class="footer">
  <button
    mat-raised-button
    color="primary"
    class="outline-none"
    (click)="navTo('dashboard')"
  >
    <mat-icon fill="primary">dashboard</mat-icon>
  </button>
  <button mat-raised-button color="primary" class="outline-none">
    <mat-icon class="outline-none text-center">cloud_download</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    class="outline-none"
    (click)="navTo('coleta')"
  >
    <mat-icon class="outline-none text-center">add</mat-icon>
  </button>
</mat-toolbar>
