<div class="vh-100 d-flex justify-content-center align-items-center mt-5 p-5">
  <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <div class="text-center">
      <img
        src="../../assets/img/cadastro.jpg"
        class="rounded"
        alt="..."
      /><br />
    </div>
    <h2 class="text-center mb-4 text-primary mt-5">Cadastre-se!</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input
          type="cpf"
          class="form-control border border-primary"
          id="cpf"
          name="nome"
          formControlName="nome"
          aria-describedby="emailHelp"
        />
        <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="nome.errors?.['required']">Nome é obrigatório</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CPF</label>
        <input
          type="cpf"
          class="form-control border border-primary"
          id="cpf"
          aria-describedby="emailHelp"
        />
        <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cpf.errors?.['required']">Cpf é obrigatório</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control border border-primary"
          id="email"
          name="email"
          formControlName="email"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="email.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="email.errors?.['required']">Email é obrigatório</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input
          type="senha"
          name="senha"
          class="form-control border border-primary"
          formControlName="senha"
          id="senha"
        />
        <div
          *ngIf="senha.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="senha.errors?.['required']">Email é obrigatório</p>
        </div>
      </div>
      <p class="small">
        <a class="text-primary" href="forget-password.html"
          >Esqueceu a senha?</a
        >
      </p>
      <div class="d-grid">
        <button class="btn btn-success btn-block" type="submit">
          Cadastrar
        </button>
      </div>
    </form>
    <div class="mt-3">
      <p class="mb-0 text-center">
        Já tem conta?
        <a href="signup.html" class="text-primary fw-bold">Login!</a>
      </p>
    </div>
  </div>
</div>
