<div class="vh-100 d-flex justify-content-center align-items-center mt-5 p-5">
  <div class="col-md-12 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <div class="text-center">
      <img
        src="../../assets/img/cadastro.jpg"
        class="rounded"
        alt="..."
      /><br />
    </div>
    <h2 class="text-center mb-4 text-primary p-5">Cadastro de coleta</h2>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input
              type="cpf"
              class="form-control border border-primary"
              id="cpf"
              formControlName="nome"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Criadouro</label>
            <input
              type="cpf"
              class="form-control border border-primary"
              id="cpf"
              formControlName="email"
              aria-describedby="emailHelp"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Responsável</label
            >
            <input
              type="senha"
              class="form-control border border-primary"
              formControlName="senha"
              id="senha"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Função</label>
            <input
              type="senha"
              class="form-control border border-primary"
              formControlName="senha"
              id="senha"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-grid">
            <button class="btn btn-success" type="submit">Cadastrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
