<div class="container p-2">
  <mat-card class="mat-elevation-z0 mb-5">
    <h6 class="text-muted text-center p-2 display-6">RESULTADO DAS COLETAS</h6>

    <mat-card-title-group
      class="my-3 p-3 background mat-elevation-z4"
      *ngFor="let agente of listAgente"
    >
      <mat-card-title class="color">{{ agente.nome }}</mat-card-title>
      <mat-card-subtitle class="text-muted">{{
        agente.funcao
      }}</mat-card-subtitle>
      <button
        mat-button
        color="primary"
        class="outline-none"
        (click)="download(agente)"
      >
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card>
</div>
