<div class="container p-3 my-2">
  <mat-card class="mb-5">
    <h2
      class="text-primary text-center bg-white p-5 border border-primary boder"
    >
      RESULTADO DAS COLETAS
    </h2>

    <mat-card-title-group
      class="border border-primary my-3 p-3 boder"
      *ngFor="let user of users"
    >
      <mat-card-title>{{ user.nome }}</mat-card-title>
      <mat-card-subtitle>{{ user.funcao }}</mat-card-subtitle>
      <a href="#">
        <img mat-card-sm-image src="../../assets/img/cadastro.jpg" />
      </a>
    </mat-card-title-group>
  </mat-card>
</div>
