.rounded {
  max-width: 100%;
  width: 400px;
  height: 400px;
}

.border {
  background: 2px solid  #007bff !important;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #dedede;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.2em;
  border-left: 2px solid #dc3545;
  padding-left: 0.3em;
}
