<div class="vh-100 d-flex justify-content-center align-items-center mt-5 p-5">
  <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <div class="text-center">
      <img src="../../assets/img/login.jpg" class="rounded" alt="..." /><br />
    </div>
    <h2 class="text-center mb-4 text-primary mt-5">Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CPF</label>
        <input
          type="cpf"
          class="form-control border border-primary"
          id="cpf"
          formControlName="cpf"
          aria-describedby="emailHelp"
        />
        <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cpf.errors?.['required']">CPF é obrigatório</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input
          type="senha"
          class="form-control border border-primary"
          id="senha"
          formControlName="senha"
        />
      </div>
      <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="senha.errors?.['required']">Senha é obrigatório</p>
      </div>
      <a class="text-primary" href="forget-password.html">Esqueceu a senha?</a>
      <div class="d-grid">
        <button class="btn btn-success btn-block" type="submit">Logar</button>
      </div>
    </form>
    <div class="mt-3">
      <p class="mb-0 text-center">
        Não tem conta?
        <a href="signup.html" class="text-primary fw-bold">Registre-se!</a>
      </p>
    </div>
  </div>
</div>
