<section class="container h-50">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-md-6 text-center">
      <div class="col-sm-12 mt-1">
        <img
          src="../../assets/img/login.jpg"
          class="rounded text-center"
          alt="Login"
        />
        <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="cpf.errors?.['required']">CPF é obrigatório</p>
        </div>
      </div>
      <h2 class="text-primary mt-3 display-6">Login</h2>
      <form
        [formGroup]="form"
        (ngSubmit)="onLogin()"
        #formDir="ngForm"
        class="border-primary mt-3"
      >
        <mat-form-field class="full-width-field" appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" />
        </mat-form-field>

        <mat-form-field class="full-width-field" appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            placeholder="senha"
            formControlName="senha"
          />
        </mat-form-field>

        <div class="example-button-row">
          <button
            mat-raised-button
            class="full-btn outline-none bg-success text-white"
            color="primary"
          >
            Login
          </button>
          <!-- <a class="mt-2" mat-button color="primary" [routerLink]="['cadastro']"
            >Cadastrar</a
          > -->
        </div>
      </form>
    </div>
  </div>
</section>
