<section class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 mt-5 text-center p-5">
      <img src="../../assets/img/login.jpg" class="rounded" alt="Login" />
      <h2 class="text-primary mt-3">Login</h2>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        #formDir="ngForm"
        class="border-primary mt-3"
      >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-primary"
            >CPF</label
          >
          <input
            type="cpf"
            class="form-control border border-primary"
            id="cpf"
            name="cpf"
            formControlName="cpf"
            aria-describedby="emailHelp"
          />
          <div
            *ngIf="cpf.invalid && formDir.submitted"
            class="validation-error"
          >
            <p *ngIf="cpf.errors?.['required']">CPF é obrigatório</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-primary"
            >Senha</label
          >
          <input
            type="password"
            class="form-control border border-primary"
            id="senha"
            name="senha"
            formControlName="senha"
          />
          <div
            *ngIf="senha.invalid && formDir.submitted"
            class="validation-error"
          >
            <p *ngIf="senha.errors?.['required']">Senha é obrigatório</p>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-success btn-block" type="submit">Logar</button>
        </div>
      </form>
    </div>
  </div>
</section>
