<div class="container">
  <table class="table table-striped card p-5">
    <thead class="mx-auto">
      <tr>
        <th scope="col text-light">Criadouro</th>
        <th scope="col text-center">
          Registro de Atividades de Prevenção ao Aedes aegypti
        </th>
        <th scope="col">
          REV: 00 <br />
          DATA <br />Aprovada por:
        </th>
      </tr>
    </thead>
  </table>

  <div class="container mb-5 mt-5 card p-5">
    <div class="row">
      <div class="form-group row">
        <label for="inputPassword" class="col-md-4 col-form-label">DATA</label>
        <div class="col-md-12">
          <input
            type="date"
            class="form-control"
            id="modulo"
            placeholder="módulo"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group row">
        <label for="inputPassword" class="col-md-3 col-form-label"
          >MÓDULO</label
        >
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            id="modulo"
            placeholder="módulo"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-md-2 col-form-label">RUA</label>
        <div class="col-md-10 ml-2">
          <input type="text" class="form-control" id="rua" placeholder="RUA" />
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive-md">
    <table class="table table-striped card p-5">
      <thead class="mx-auto mb-5">
        <tr>
          <th scope="col" colspan="5">L/Q - n casa</th>
          <th scope="col">Ativ.</th>
          <th scope="col">Criadouro</th>
          <th scope="col">Larvas</th>
          <th scope="col">Aviso</th>
          <th scope="col">Responsável/Função</th>
          <th scope="col">Observação</th>
        </tr>
      </thead>
      <tbody class="mx-auto">
        <tr>
          <th scope="row">1</th>
          <td colspan="2">Rua Alagoas - 250, casa</td>
          <td colspan="2">Sim</td>
          <td colspan="2">Vaso de plantas</td>
          <td colspan="2">Sim</td>
          <td colspan="2">S</td>
          <td colspan="2">João Paulo Batista / Agente</td>
          <td>
            Utilizar o produto para mata larvas, e seguir instruções de limpeza
            passadas pelo agente
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
