<div class="vh-100 d-flex justify-content-center my-5">
  <div class="col-md-8 col-sm-12 rounded-5 border-primary bg-white">
    <h2 class="text-center mb-4 text-primary display-6 text-primary">
      Cadastro de coleta
    </h2>
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #formDir="ngForm"
    >
      <mat-card class="mat-elevation-z0 mb-5">
        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Nome Entrevistado</mat-label>
            <input
              matInput
              placeholder="name"
              formControlName="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Criadouro</mat-label>
            <input
              matInput
              placeholder="criadouro"
              formControlName="criadouro"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Nome responsável</mat-label>
            <input
              matInput
              placeholder="responsavel"
              formControlName="responsavel"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Função</mat-label>
            <input matInput placeholder="funcao" formControlName="funcao" />
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Atividade</mat-label>
            <select matNativeControl formControlName="ativo">
              <option value="1" selected>Vistoria</option>
              <option value="2">Retorno</option>
              <option value="3">Recusa</option>
            </select>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Larvas</mat-label>
            <select matNativeControl formControlName="larvas">
              <option value="N" selected>Não</option>
              <option value="S">Sim</option>
            </select>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field class="full-width-field" appearance="fill">
            <mat-label>Aviso</mat-label>
            <select matNativeControl formControlName="aviso">
              <option value="N" selected>Não</option>
              <option value="S">Sim</option>
            </select>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <button
            mat-raised-button
            class="full-btn outline-none bg-success text-white"
          >
            Cadastrar ocorrência
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
